table, td, th, tr, tbody{
	border: 2px solid;
	text-align: center;
	border-collapse: collapse;
}

table{
	width: 75%;
	margin-top: 25px;
	background-color: #a8ffa8;
}

td,th{
	height: 40px;
}

nav{
	background-color: pink;
	font-family: arial;
}

body{
	background-color: #b2a7a7;
}

.tictactoetable{
	width: auto;
	height: auto;
	background-color: #a8ffa8;
}

#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}